@if (isExternalUrl) {
  <a
    [href]="url"
    target="_blank"
    rel="noopener noreferrer"
    class="card"
    [attr.aria-label]="ariaLabel">

    <ng-container *ngTemplateOutlet="cardContent"></ng-container>
  </a>
} @else {
  <a
    [routerLink]="url"
    class="card"
    [attr.aria-label]="title">

    <ng-container *ngTemplateOutlet="cardContent"></ng-container>
  </a>
}

<ng-template #cardContent>
  <div class="card__image" *ngIf="imageUrl" [style.backgroundImage]="'url(' + imageUrl + ')'">
    <div class="card__image-overlay"></div>
  </div>

  <div class="card__body">
    <div class="card__content">
      <h2>{{ title }}</h2>
    </div>
    <div class="card__link" aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
        <polyline points="15 3 21 3 21 9"></polyline>
        <line x1="10" y1="14" x2="21" y2="3"></line>
      </svg>
    </div>
  </div>
</ng-template>
