.wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .app {
    padding: 0px 10px;
    width: calc(100% - 20px);
    max-width: 1080px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1rem;

    header {
      margin-top: 140px;

      img {
        border-radius: 200px;
        border: 5px solid #2D54DF;
        height: 134px;
        width: 134px;
        object-fit:cover;
      }

      .app__heading {
        font-family: "Rubik", sans-serif;
        margin-top: 21px;
        font-weight: 800;
        font-size: 36px;
        color: #2D54DF;
        margin-bottom: 24px;
      }
    }

    .app__text {
      font-size: 20px;
      font-weight: medium;
      margin-bottom: 30px;
      text-decoration: none;
    }

    .card-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      app-card {
        margin: 10px;
        flex: 1 1 0px;

        &:first-of-type {
          margin-left: 0px;
        }

        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
  }

  @media (max-width: 768px) {
    .app {
      header {
        margin-top: 100px;
        img {
          height: 100px;
          width: 100px;
        }
        .app__heading {
          font-size: 24px;
          margin-bottom: 12px;
        }
      }
      .app__text {
        font-size: 16px;
        margin-bottom: 20px;
      }
      .card-row {
        flex-direction: column;
        align-items: center;

        app-card {
          margin: 10px 0;
          width: 100%;
        }
      }
    }
  }
}

:host {
  a {
    text-decoration: none;
  }
}
